<a href="javascript:void(0);" style="display: none" data-bind="visible: isRpi, attr: {title: 'Pi GPIO: ' + navbarWidgetTitle()}">
  <span class="navbar_plugin_pigpio_text" data-bind="text: navbarWidgetText"></span>
</a>
